---
import type { HeroSection } from "../../lib/sectionTypes";

const data: HeroSection = Astro.props.data;
const { title, description } = data;
---

<div class="w-screen h-screen">
  <h1 class="text-6xl">{title}</h1>
  <h2 class="">{title}</h2>
  <h3 class="">{title}</h3>
  <h4 class="">{title}</h4>
  <h5 class="">{title}</h5>

  <p class="">{description}</p>
</div>
