---
import type { SanityDocument } from '@sanity/client';

import {sections} from '../lib/sectionResolver'

const { data } = Astro.props as { data: SanityDocument & { _type: keyof typeof sections } };

const SectionComponent = sections[data._type];
---

<section id={`section-${data._id}`} data-type={data._type}>
  {SectionComponent ? (
    <SectionComponent data={data} />
  ) : (
    <div class="missing-section">
      <p>Section component for {data._type} not found</p>
    </div>
  )}
</section>
