---
import { useSettings } from "../lib/queries/settings";

const settings = await useSettings();
---

<style lang="postcss">
  :root {
    --primary: {settings.colorScheme.primary};
    --secondary: {settings.colorScheme.secondary};
    --accent: {setttings.colorScheme.accent};
  }

  @import url('https://fonts.googleapis.com/css2?family={fonts.primary}&display=swap');

  body {
    font-family: '{fonts.primary}', sans-serif;
  }
</style>

<div>
  <h1>Theme Settings</h1>
  <p>Primary Color: {settings.colorScheme.primary}</p>
  <p>Secondary Color: {settings.colorScheme.secondary}</p>
  <p>Accent Color: {settings.colorScheme.accent}</p>
  <p>Primary Font: {settings.fonts.primary}</p>
  
  <slot />
</div>